.talent {
  padding: 5px;
  background-color: #666;
  height: 100%;
  border: 1px solid black;
  display: flex;
}

.talent .flex-grow-1 {
  padding-top: 5px;
}

.talent textarea {
  resize: none;
  height: 100%;
}