.talent {
  padding: 5px;
  background-color: #666;
  height: 100%;
  border: 1px solid black;
  display: flex;
}

.talent .flex-grow-1 {
  padding-top: 5px;
}

.talent textarea {
  resize: none;
  height: 100%;
}

.talent .title {
  font-weight: bolder;
}

.talent .rank i {
  position: relative;
  left: 3px;
}
.talent .rank i:first-child {
  left: 11px;
  margin-left: -14px;
}

.fa-rotate-45 {
  transform: rotate(45deg);
}

.talent .talent-active {
  background-color: #89cfff;
  border:none;
}
.talent .talent-active.active {
  background-color: #F6C55C;
}