.app {
  background-color: whitesmoke;
  color: black;
  min-height: calc(100vh + 50px);
  width: 100%;
}

.main-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}