.app {
  background-color: #282c34;
  color: white;
  min-height: calc(100vh + 50px);
  width: 100%;
}

.main-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}